<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="DatabaseName" value="PersonsRewards.mdf"/>
  </appSettings>
  <connectionStrings>
    <add name="PersonsRewards" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\21art\Desktop\EPAM\Svetlov_Artem_Task16\Department.DAL\PersonsRewards.mdf;Integrated Security=True" />
  </connectionStrings>
</configuration>