@{
    ViewBag.Title = "About";
}
<h2>О приложение</h2>

<h4>Разработать приложение, позволяющее работать с пользователями и наградами (перечень атрибутов указаны ниже).</h4>
<p>1.	Атрибуты пользователя:</p>
<p>• ID — уникальный идентификатор, генерируемый приложением (int).</p>
<p>• First Name — имя (String) (обязательное, не более 50 символов)</p>
<p>• Last Name — фамилия (String) (обязательное, не более 50 символов)</p>
<p>• Birthdate — дата рождения (DateTime) (обязательное, не может быть меньше текущей даты, не может быть более 150 лет)</p>
<p>• Age — возраст. Вычисляемое число полных лет (int).</p>
<p>2.	«Награды» напр. «Нобелевская премия», «премия Дарвина». Рекомендуется использовать «TabPanel» для переключения между списком пользователей и наград. Атрибуты награды:</p>
<p>• ID — уникальный идентификатор, генерируемый приложением (int).</p>
<p>• Title — наименование (String) (обязательное, не более 50 символов)</p>
<p>• Description — описание (String) (необязательное, но не более 250 символов.)</p>
